body {
    margin: 0;
    background-color:#191919;
    padding: 6% 9%;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333333;
    padding: 20px 30px;
    margin-bottom: 40px;
}

.dropdown h1 {
    font-family: arial;
    font-weight: normal;
    font-size: 16px;
    color: #cccccc;
    margin-right: 10px;
}

.dropdown a {
    color: #a3a3cc;
    text-decoration: none;
}

.dropdown .dash-dropdown {
    font-family: arial;
    flex: 1;
}

#map, #treemap{
    height: 39vw;
    margin-bottom: 40px; 
}